[default]
# Specifies the behaviour of auto-expanded routines
role = 'kernel'
expand = true  # Automatically expand subroutine calls
strict = true  # Throw exceptions during dicovery

demote_locals = true

# Ensure that we are never adding these to the tree, and thus
# do not attempt to look up the source files for these.

disable = ['timer_mod', 'file_io_mod', 'foe*', 'fes*', 'falfaad']
ignore = ['parkind1']

# Define entry point for call-tree transformation
[routines]

[routines.cloudsc_driver_ad]
  role = 'driver'
  expand = true

# Define indices and bounds for array dimensions
[dimensions]

[dimensions.horizontal]
  size = 'KLON'
  index = 'JL'
  bounds = ['KIDIA', 'KFDIA']
  aliases = ['NPROMA', 'KDIM%KLON']

[dimensions.vertical]
  size = 'KLEV'
  index = 'JK'

[dimensions.block_dim]
  size = 'NGPBLKS'
  index = 'IBL'


# Define specific transformation settings
# -------------------------------------------------------------------
# The section configures the invididual steps of the transformation
# pipelines. Importantly, it also defines the class name and Python
# module that Transformation objecst will be instatiated from.
[transformations]

# A set of utility transformations
# -------------------------------------------------------------------
[transformations.Idem]
  classname = 'IdemTransformation'
  module = 'loki.transformations'


# Loki-SCC family of transformations
# -------------------------------------------------------------------
# A set of transformation passes that transforms SIMD vectorisation
# loops into SIMD-style loops for coalesced memory access on GPU.
# It also contains passes that improve device memory handling on GPUs.
[transformations.SCCVector]
  classname = 'SCCVectorPipeline'
  module = 'loki.transformations.single_column'
[transformations.SCCVector.options]
  horizontal = '%dimensions.horizontal%'
  block_dim = '%dimensions.block_dim%'
  directive = 'openacc'


[transformations.SCCHoist]
  classname = 'SCCHoistPipeline'
  module = 'loki.transformations.single_column'
[transformations.SCCHoist.options]
  horizontal = '%dimensions.horizontal%'
  block_dim = '%dimensions.block_dim%'
  directive = 'openacc'


# Housekeeping and other transformations
# -------------------------------------------------------------------
[transformations.DataOffload]
  classname = 'DataOffloadTransformation'
  module = 'loki.transformations'
  options = { remove_openmp = true, claw_data_offload = false }


[transformations.ModuleWrap]
  classname = 'ModuleWrapTransformation'
  module = 'loki.transformations.build_system'
  options = { module_suffix = '_MOD' }


[transformations.Dependency]
  classname = 'DependencyTransformation'
  module = 'loki.transformations.build_system'
  options = { suffix = '_LOKI', module_suffix = '_MOD' }


# Full transformation pipelines
# -------------------------------------------------------------------
# The entries below are mapped to the "mode" entry point in
# loki-transform.py. The define the set of transformation and the
# order in which they are applies to the complete call tree.
[pipelines]

[pipelines.idem]
  transformations = ['Idem', 'ModuleWrap', 'Dependency']

[pipelines.scc]
  transformations = ['DataOffload', 'SCCVector', 'ModuleWrap', 'Dependency']

[pipelines.scc-hoist]
  transformations = ['DataOffload', 'SCCHoist', 'ModuleWrap', 'Dependency']
